<h1 class=" text-2xl font-bold sm:text-xl ml-5 mr-6">Edit Project</h1>
<%= render 'form', profile: @profile, project: @project %>
<%= link_to 'Back', profile_path(@profile), class: "text-blue-500 hover:underline mt-4 block" %>